<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Add New Company</h4>
    </div>
</div>

<!--Company Added Div-->
<div class="row" ng-show="addNewCompany.successMsg">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="text-md-center">
                    <i class="icon-check large-success-icon"></i>
                    <h3 class="success-text">Successfully Posted.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add New Company Form -->
<form ng-submit="addNewCompany.postCompanyDetails(newCompanyData);" ng-show="!addNewCompany.successMsg">

    <div class="row">

        <!--Company Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Company Details</h4>
                    <h6 class="card-subtitle">Enter company details for placement session</h6>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Company Name</label>
                                <input type="text" class="form-control" placeholder="Enter name" ng-model="addNewCompany.newCompanyData.company_name">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Company Website Link</label>
                                <input type="text" class="form-control" placeholder="Enter URL" ng-model="addNewCompany.newCompanyData.company_website_url">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">About Company</label>
                        <textarea type="text" class="form-control" rows="3" ng-model="addNewCompany.newCompanyData.about_company"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--Job Profile Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Job Profile Details</h4>
                    <h6 class="card-subtitle">Enter job details for placement session</h6>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Job Profile</label>
                                <input type="text" class="form-control" placeholder="Enter job profile" ng-model="addNewCompany.newCompanyData.job_profile">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Location of Posting</label>
                                <input type="text" class="form-control" placeholder="Enter posting location" ng-model="addNewCompany.newCompanyData.posting_location">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Recruitment</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="recruitmentRadio1" class="custom-control-input" value="Internship" ng-model="addNewCompany.newCompanyData.recruitment">
                                            <label class="custom-control-label" for="recruitmentRadio1">Internship</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="recruitmentRadio2" class="custom-control-input" value="Placement" ng-model="addNewCompany.newCompanyData.recruitment">
                                            <label class="custom-control-label" for="recruitmentRadio2">Placement</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Duration</label>
                                <input type="text" class="form-control" placeholder="Enter duration" ng-model="addNewCompany.newCompanyData.duration">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Package/Stipend</label>
                                <input type="text" class="form-control" placeholder="Enter package" ng-model="addNewCompany.newCompanyData.package">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Extra Facility</label>
                                <input type="text" class="form-control" placeholder="Enter other facility" ng-model="addNewCompany.newCompanyData.other_facility">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Student Eligibility Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Student Eligibility Details</h4>
                    <h6 class="card-subtitle">Enter eligibility details for placement session</h6>

                    <div class="row p-t-20">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Eligible Programs</label>
                                <div class="row">
                                    <div class="col-md-2" ng-repeat="program in programs">
                                        <input type="checkbox" value="program" ng-model="programTicked" ng-change="showBranchesDiv(program)">
                                        <label>{{ program }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-20" ng-repeat="program in programs"  ng-show="programsDiv[program.toLowerCase()]">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"><b>Select {{ program }} Program Branches</b></label>
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="branch in programsBranches[program.toLowerCase()]">
                                        <input type="checkbox" name="recruitmentRadio11" value="branch" ng-model="addNewCompany.newCompanyData.eligibility[program][branch]">
                                        <label>{{ branch }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Minimum CGPA</label>
                                <input type="text" class="form-control" placeholder="Enter minimum CGPA" ng-model="addNewCompany.newCompanyData.min_cgpa">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Min. Marks in 12th</label>
                                <input type="text" class="form-control" placeholder="Enter percentage" ng-model="addNewCompany.newCompanyData.min_10_percent">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                    </div>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Min. Marks in 10th</label>
                                <input type="text" class="form-control" placeholder="Enter percentage" ng-model="addNewCompany.newCompanyData.min_12_percent">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Other Eligibility</label>
                                <input type="text" class="form-control" placeholder="Enter other eligibility" ng-model="addNewCompany.newCompanyData.other_eligibility">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Registration Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registration Details</h4>
                    <h6 class="card-subtitle">Enter registration details for placement session</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="m-t-20">Last Date to Apply</label>
                            <input type="date" class="form-control" placeholder="Enter date" ng-model="addNewCompany.newCompanyData.deadline_date">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Submit Buttom-->
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary btn-rounded"><i class="ti-check-box"></i> &nbsp; Submit Details</button>
    </div>
</form>
