<div ng-show="!company.deleteSuccessMsg">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">{{ company.companyDetail.company_name}}'s Company Details</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title text-center"> {{ company.companyDetail.company_name}}</h4>
                    <h6 class="card-subtitle text-center">{{ company.companyDetail.job_profile}}</h6>
                    <div class="table-responsive">
                        <table class="table stylish-table">
                            <tbody>
                            <tr>
                                <td><span class="round"><i class="ti-briefcase"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Company Name</h5>                           </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.company_name}}</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-purple"><i class="ti-world"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Company Website </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.company_website_url }}</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-cyan"><i class="ti-blackboard"></i></span></td>
                                <td>
                                    <h5 style="font-weight: 500;margin-top: 1rem;">About Company</h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.about_company }}</h5>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title text-center"> Job Details</h4>
                    <div class="table-responsive">
                        <table class="table stylish-table">
                            <tbody>
                            <tr>
                                <td><span class="round bg-success"><i class="ti-id-badge"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Job Profile</h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.job_profile}}</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-primary"><i class="icon-graduation"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Recruitment </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.recruitment }} </h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-danger"><i class="ti-time"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Duration </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.duration }} </h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-info"><i class="ti-credit-card"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Package</h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5> {{ company.companyDetail.package }}  </h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-success"><i class="ti-gift"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Other Facilities</h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5> {{ company.companyDetail.other_facility }}  </h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-over"><i class="ti-location-pin"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Location of Posting </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.posting_location }}</h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title text-center"> Eligibility Information</h4>
                    <div class="table-responsive">
                        <table class="table stylish-table">
                            <tbody>
                            <tr>
                                <td><span class="round"><i class="icon-graduation"></i></span></td>
                                <td>
                                    <h5 style="font-weight: 500;margin-top: 1rem;">Eligibility</h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <div ng-repeat="(key, value) in company.companyDetail.eligibility">
                                        <h5> <b>{{ key }}</b></h5>
                                        <h5 ng-repeat="(key, value) in company.companyDetail.eligibility[key]">{{ key }}</h5>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-success"><i class="ti-medall"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Minimum CGPA </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.min_cgpa  }} CGPA</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-primary"><i class="ti-cup"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Minimum Marks in 10th </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.min_10_percent }} %</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-primary"><i class="ti-cup"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Minimum Marks in 12th </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.min_12_percent }} %</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-danger"><i class="icon-tag"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Other Eligibility </h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.other_eligibility}}</h5>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="round bg-cyan"><i class="icon-link"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Bond Requirement</h5>
                                </td>
                                <td style="vertical-align: inherit;">
                                    <h5>No</h5>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title text-center"> Deadline</h4>
                    <div class="table-responsive">
                        <table class="table stylish-table">
                            <tbody>
                            <tr>
                                <td><span class="round"><i class="ti-calendar"></i></span></td>
                                <td style="vertical-align: inherit;">
                                    <h5 style="font-weight: 500;">Last Date to Apply</h5>                           </td>
                                <td style="vertical-align: inherit;">
                                    <h5>{{ company.companyDetail.deadline_date | date : 'dd MMMM yyyy'}} </h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" ng-show="main.authorized">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <div>
                                    <!--<a href="/editCompany/{{ company.companyDetail._id }}"><button class="btn btn-primary btn-rounded"><i class="ti-pencil"></i> &nbsp; Edit</button></a>-->
                                    <a href="#"><button class="btn btn-primary btn-rounded"><i class="ti-pencil"></i> &nbsp; Edit</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <button class="btn btn-danger btn-rounded" ng-click="company.deleteCompany();"><i class="ti-trash"></i> &nbsp; Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="/registeredStudents/{{ company.companyDetail._id }}">
                                    <button class="btn btn-success btn-rounded"><i class="ti-user"></i> &nbsp; View Registered Students</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="text-align: center; margin-bottom: 20px;" ng-show="!main.authorized">
        <button ng-disabled="company.applyStatus" type="button" id="oneClickApplyButton" class="btn btn-success btn-rounded" ng-click="company.oneClickApply();"><i class="ti-check-box" id="oneClickApplyIcon"></i> &nbsp; One Click Apply</button>
    </div>
</div>
<div ng-show="company.deleteSuccessMsg" style="margin-top: 20px;">
    <div class="col-lg-12" class="text-center">
        <div class="card">
            <div class="card-body">
                <div class="text-md-center">
                    <i class="icon-check large-success-icon text-center"></i>
                    <h3 class="success-text">Successfully deleted.</h3>
                </div>
            </div>
        </div>
    </div>
</div>