<div ng-show="company.fetchedCompanyDetails && !main.blockedProfile">
    <div ng-show="!company.deleteSuccessMsg">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">{{ company.companyDetail.company_name}}'s Company Details</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title text-center"> {{ company.companyDetail.company_name}}</h4>
                        <h6 class="card-subtitle text-center">{{ company.companyDetail.job_profile}}</h6>
                        <div class="table-responsive">
                            <table class="table stylish-table">
                                <tbody>
                                <tr>
                                    <td><span class="round"><i class="ti-briefcase"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Company Name</h5>                           </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.company_name}}</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-purple"><i class="ti-world"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Company Website </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <a href="{{ company.companyDetail.company_website_url }}" target="_blank">{{ company.companyDetail.company_website_url }}</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-cyan"><i class="ti-blackboard"></i></span></td>
                                    <td>
                                        <h5 style="font-weight: 500;margin-top: 1rem;">About Company</h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.about_company }}</h5>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title text-center"> Job Details</h4>
                        <div class="table-responsive">
                            <table class="table stylish-table">
                                <tbody>
                                <tr>
                                    <td><span class="round bg-success"><i class="ti-id-badge"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Job Profile</h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.job_profile}}</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-primary"><i class="icon-graduation"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Recruitment </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.recruitment }} </h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-danger"><i class="ti-time"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Duration </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.duration }} </h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-info"><i class="ti-credit-card"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Package</h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5> {{ company.companyDetail.package }}  </h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-success"><i class="ti-gift"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Other Facilities</h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5> {{ company.companyDetail.other_facility }}  </h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-over"><i class="ti-location-pin"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Location of Posting </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.posting_location }}</h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title text-center"> Eligibility Information</h4>
                        <div class="table-responsive">
                            <table class="table stylish-table">
                                <tbody>
                                <tr>
                                    <td><span class="round"><i class="icon-graduation"></i></span></td>
                                    <td>
                                        <h5 style="font-weight: 500;margin-top: 1rem;">Eligibility</h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <div ng-repeat="(key, value) in company.companyDetail.eligibility">
                                            <h5> <b>{{ key }}</b></h5>
                                            <h5 ng-repeat="(key, value) in company.companyDetail.eligibility[key]">{{ key }}</h5>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-success"><i class="ti-medall"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Minimum CGPA </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.min_cgpa  }} CGPA</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-primary"><i class="ti-cup"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Minimum Marks in 10th </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.min_10_percent }} %</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-primary"><i class="ti-cup"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Minimum Marks in 12th </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.min_12_percent }} %</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-danger"><i class="icon-tag"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Other Eligibility </h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.other_eligibility}}</h5>
                                    </td>
                                </tr>

                                <tr>
                                    <td><span class="round bg-cyan"><i class="icon-link"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Bond Requirement</h5>
                                    </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>No</h5>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title text-center"> Deadline</h4>
                        <div class="table-responsive">
                            <table class="table stylish-table">
                                <tbody>
                                <tr>
                                    <td><span class="round"><i class="ti-calendar"></i></span></td>
                                    <td style="vertical-align: inherit;">
                                        <h5 style="font-weight: 500;">Last Date to Apply</h5>                           </td>
                                    <td style="vertical-align: inherit;">
                                        <h5>{{ company.companyDetail.deadline_date | date : 'dd MMMM yyyy h:mm a'}} </h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" ng-show="main.authorized">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <div>
                                        <!--<a href="/editCompany/{{ company.companyDetail._id }}"><button class="btn btn-primary btn-rounded"><i class="ti-pencil"></i> &nbsp; Edit</button></a>-->
                                        <a href="#"><button class="btn btn-primary btn-rounded"><i class="ti-pencil"></i> &nbsp; Edit</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <button class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#deleteCompanyModal"><i class="ti-trash"></i> &nbsp; Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <a href="/registeredStudents/{{ company.companyDetail._id }}">
                                        <button class="btn btn-success btn-rounded"><i class="ti-user"></i> &nbsp; View Registered Students</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Apply now Modal box   -->
        <div class="modal fade" id="applyNowCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel1">Are you sure to apply?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="buttom" class="btn btn-success" ng-click="company.oneClickApply();" data-dismiss="modal">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Company   -->
        <div class="modal fade" id="deleteCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteCompanyModal1">Are you sure to delete company details?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="buttom" class="btn btn-danger" ng-click="company.deleteCompany();" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Schedule Company Model  -->
        <div class="modal fade" id="scheduleCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="scheduleCompanyModal1">{{ company.companyDetail.company_name }}'s Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="card" ng-repeat="schedule in company.companyScheduleData | orderBy : 'date_time'">
                            <h4><b>{{ schedule.date_time | date : 'dd MMMM yyyy h:mm a' }} </b>: {{ schedule.schedule_info}}</h4>
                        </div>
                        <div ng-show="company.noCompanySchedule">
                            <h4 class="text-danger text-center">No schedule yet!</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Notifications Company   -->
        <div class="modal fade" id="notificationsCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="notificationsCompanyModal1">{{ company.companyDetail.company_name}}'s Notifications</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="card" ng-repeat="notification in company.companyNotificationsData | orderBy : '-timestamp'">
                            <h4><i class="ti-bell"></i> &nbsp; {{ notification.notification }}</h4>
                        </div>
                        <div ng-show="company.noCompanyNotification">
                            <h4 class="text-danger text-center">No notifications yet!</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Result Company Model  -->
    <div class="modal fade" id="resultCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="resultCompanyModal1">{{ company.companyDetail.company_name }}'s Result</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-2" ng-repeat="result in company.companyResult">
                                <button id="btn{{ result.result_stage }}" class="btn btn-outline-primary" style="margin-left: 10px;margin-top: 5px;" ng-click="activeTab(result.result_stage)">{{ result.result_title }} </button>
                            </div>
                        </div>
                        <div ng-repeat="result in company.companyResult">
                            <div id="{{ result.result_stage }}" ng-show="tabArray[result.result_stage]" style="margin-top: 10px;margin-left: 20px;">
                                <h4><b>Selected Candidates :</b> </h4>
                                <div ng-repeat="candidate in result.candidates">
                                    <h5>{{ candidate }}</h5>
                                </div>
                                <!--<h4>Selected Candidates : {{ result.candidates}}</h4>-->
                                <p>*{{ result.result_message}}</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="company.noCompanyResult">
                        <h4 class="text-danger text-center">Result not declared yet!</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Schedule Company Model  -->
    <div class="modal fade" id="addScheduleCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" ng-show="!company.addScheduleSuccessMsg">
                <form ng-submit="company.addCompanySchedule(scheduleData);">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addScheduleCompanyModal1">Add {{ company.companyDetail.company_name }}'s Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Date & Time</label>
                                <input type="datetime-local" class="form-control" ng-model="company.scheduleData.date_time">
                            </div>
                            <label class="control-label">Schedule Info</label>
                            <textarea type="text" class="form-control" ng-model="company.scheduleData.schedule_info"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Post Now</button>
                    </div>
                </form>
            </div>
            <div class="modal-content" ng-show="company.addScheduleSuccessMsg">
                <div class="modal-header">
                    <h4 class="modal-title">Success</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="text-md-center">
                            <i class="icon-check large-success-icon"></i>
                            <h3 class="success-text">{{ company.addScheduleSuccessMsg }}</h3>
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Notifications Company Model  -->
    <div class="modal fade" id="addNotificationsCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" ng-show="!company.addNotificationSuccessMsg">
                <form ng-submit="company.addCompanyNotification(notificationData);">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addNotificationCompanyModal1">Add {{ company.companyDetail.company_name }}'s Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">New Notification</label>
                            <textarea type="text" class="form-control" ng-model="company.notificationData.notification"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Post Now</button>
                    </div>
                </form>
            </div>
            <div class="modal-content" ng-show="company.addNotificationSuccessMsg">
                <div class="modal-header">
                    <h4 class="modal-title">Success</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="text-md-center">
                            <i class="icon-check large-success-icon"></i>
                            <h3 class="success-text">{{ company.addNotificationSuccessMsg }}</h3>
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Result Company Model  -->
    <div class="modal fade" id="addResultCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" ng-show="!company.addResultSuccessMsg">
                <form ng-submit="company.addCompanyResult(resultData);" name="companyResultForm">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addResultCompanyModal1">Add {{ company.companyDetail.company_name }}'s Result</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Result Title</label>
                            <input type="text" class="form-control" ng-model="company.resultData.result_title" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Message to Students</label>
                            <input type="text" class="form-control" ng-model="company.resultData.result_message" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Add Candidates</label>
                            <div class="row">
                                <div ng-repeat="student in company.selectedCandidate" style="margin-left: 10px">
                                    <button type="button" class="btn btn-outline-danger" ng-click="company.removeCandidate(student);"> {{student}} <i class="icon-close" style="padding-left:5px;"></i> </button>
                                </div>
                            </div>
                            <br>
                            <input type="text" class="form-control" ng-model="company.resultData.candidate">
                            <span class="control-label" style="color: red;" ng-show="company.noCandidateSelectedErrorMsg">Select Candidates</span>
                        </div>
                        <div><!--ng-show="!companyResultForm.$pristine"-->
                            <div>
                                <div class="row" ng-repeat="candidate in company.registeredCandidates | filter : company.resultData.candidate | limitTo : 3">
                                    <div class="col-lg-4" ng-show="alwaysTrue && ifNotSelected(candidate.college_id)">
                                        <button type="button" class="btn btn-outline-primary" ng-click="company.addCandidate(candidate.college_id);">{{ candidate.college_id }}  <i class="icon-check" style="padding-left:5px;"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Post Result</button>
                    </div>
                </form>
            </div>
            <div class="modal-content" ng-show="company.addResultSuccessMsg">
                <div class="modal-header">
                    <h4 class="modal-title">Success</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="text-md-center">
                            <i class="icon-check large-success-icon"></i>
                            <h3 class="success-text">{{ company.addResultSuccessMsg }}</h3>
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Attendance now Modal box   -->
    <div class="modal fade" id="AttendanceCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="AttendanceCompanyModal1">Update Attendance Status ?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="buttom" class="btn btn-success" ng-click="company.updateAttendanceStatus();" data-dismiss="modal">Update Now</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Mark Attendance Company Model  -->
    <div class="modal fade" id="markAttendanceCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" ng-show="!company.markCompanyAttendanceSuccessMsg">
                <form ng-submit="company.markCompanyAttendance(attendanceData);">
                    <div class="modal-header">
                        <h4 class="modal-title" id="markAttendanceCompanyModal1">Marks {{ company.companyDetail.company_name }}'s Attendance</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Enter OTP</label>
                            <input type="text" class="form-control" ng-model="company.attendanceData.otp">
                            <p class="text-danger"> {{ company.markCompanyAttendanceErrorMsg }}</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-content" ng-show="company.markCompanyAttendanceSuccessMsg">
                <div class="modal-header">
                    <h4 class="modal-title">Success</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="text-md-center">
                            <i class="icon-check large-success-icon"></i>
                            <h3 class="success-text">{{ company.markCompanyAttendanceSuccessMsg }}</h3>
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Withdraw application Modal box   -->
    <div class="modal fade" id="withdrawApplicationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="withdrawApplicationModal1">Are you sure to withdraw your application?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="buttom" class="btn btn-success" ng-click="company.withdrawApplication();" data-dismiss="modal">Withdraw Now</button>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center; margin-bottom: 20px;" ng-show="!main.authorized && !company.missedLastDate">
        <button ng-disabled="company.applyStatus" type="button" id="oneClickApplyButton" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#applyNowCompanyModal"><i class="ti-check-box"></i> &nbsp; One Click Apply</button>
    </div>

    <div style="text-align: center; margin-bottom: 20px;" ng-show="!main.authorized && !company.missedLastDate && company.applyStatus">
        <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#withdrawApplicationModal"><i class="icon-cross"></i> &nbsp; Withdraw Application</button>
    </div>

    <div style="text-align: center; margin-bottom: 20px;" ng-show="!main.authorized && company.missedLastDate && !company.applyStatus">
        <button ng-disabled="company.missedLastDate" type="button" class="btn btn-danger btn-rounded" data-toggle="modal"><i class="ti-close"></i> &nbsp; Oops! You missed it.</button>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#scheduleCompanyModal"><i class="ti-calendar"></i> &nbsp; View Schedule</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#notificationsCompanyModal"><i class="ti-bell"></i> &nbsp; View Notifications</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#resultCompanyModal"><i class="ti-crown"></i> &nbsp; View Result</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="main.authorized">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#addScheduleCompanyModal"><i class="ti-calendar"></i> &nbsp; Add Schedule</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#addNotificationsCompanyModal"><i class="ti-bell"></i> &nbsp; Add Notifications</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#addResultCompanyModal"><i class="ti-crown"></i> &nbsp; Add Result</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="main.authorized">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-warning btn-rounded" data-toggle="modal" data-target="#AttendanceCompanyModal"><i class="icon-book-open"></i> &nbsp;<span ng-show="company.attendanceStatus">Close Attendance</span><span ng-show="!company.attendanceStatus">Start Attendance</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-outline-danger btn-rounded"> &nbsp;<span ng-show="company.attendanceStatus">OTP :  {{ company.company_otp }}</span><span ng-show="!company.attendanceStatus">Attendance Closed : No OTP Available</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="main.authorized && company.attendanceStatus">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-outline-primary btn-rounded" ng-click="company.doneWithAttendance();"> <i class="icon-check"></i> &nbsp;Done with the Attendance!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="!main.authorized && company.applyStatus && company.attendanceStatus && company.notMarkedAttendance">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <button class="btn btn-outline-info btn-rounded" data-toggle="modal" data-target="#markAttendanceCompanyModal"><i class="icon-pencil"></i> &nbsp;<span ng-show="!company.markedAttendance">Mark Attendance Now</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="company.deleteSuccessMsg" style="margin-top: 20px;">
    <div class="col-lg-12" class="text-center">
        <div class="card">
            <div class="card-body">
                <div class="text-md-center">
                    <i class="icon-check large-success-icon text-center"></i>
                    <h3 class="success-text">Successfully deleted.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="card-body text-center" ng-show="!company.fetchedCompanyDetails">
    <!--<h4 class="card-title">Loading Announcements!</h4>-->
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
