<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Technical Help</h4>
    </div>
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body" style="margin-bottom: -30px;">
                <center class="m-t-30">
                    <img src="../assets/images/users/pankaj-tanwar.jpg" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">Pankaj Tanwar</h4>
                    <h6 class="card-subtitle">Developer</h6>
                </center>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Email address </small>
                <h6>pankajtanwar510@mnit.ac.in</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>+91 7740996673</h6>
                <small class="text-muted p-t-30 db">Social Profile</small>
                <br/>
                <a href="https://www.facebook.com/pankajtanwar.bannaji"><button class="btn btn-circle btn-secondary"><i class="icon-social-facebook"></i></button></a>
                <a href="https://www.linkedin.com/in/pankajtanwarbanna/"><button class="btn btn-circle btn-secondary"><i class="icon-social-linkedin"></i></button></a>
                <a href="https://github.com/Pankajtanwarbanna"><button class="btn btn-circle btn-secondary"><i class="icon-social-github"></i></button></a>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Send a message</h4>
                    <h6 class="card-subtitle">Facing technical issue? Found bug? </h6>
                    <form class="form-material m-t-40">
                        <div class="form-group">
                            <label>Name </label>
                            <input type="text" class="form-control form-control-line" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label>Email </label>
                            <input type="text" class="form-control form-control-line" placeholder="Enter your email">
                        </div>

                        <div class="form-group">
                            <label>Message </label>
                            <textarea type="password" class="form-control form-control-line" placeholder="Enter your message"></textarea>
                        </div>

                        <button type="button" class="btn btn-success btn-rounded">Send Message</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>