<div class="row page-titles">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Hall of Fame 2019-20</h3>
                        <h5 class="font-light m-t-0">Training & Placement Cell, MNIT Jaipur</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <img src="../assets/images/placed-students/pankaj-tanwar.jpg" class="img-circle" width="100">
                    <h4 class="card-title">Pankaj Tanwar</h4>
                    <h6 class="card-subtitle">Wissen</h6>
                    <p class="text-white">11 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <img src="../assets/images/placed-students/jagriti-aggarwal.png" class="img-circle" width="100">
                    <h4 class="card-title">Jagriti Aggarwal</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aryan Sharma</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ashish Goyal</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Sakshi Maheshwari</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Sumit Kumar</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Swaraj Pravin Thakre</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Meedimale Yashwanth</h4>
                    <h6 class="card-subtitle">Walmart Labs</h6>
                    <p class="text-white">19.27 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Tarushree Sabarwal</h4>
                    <h6 class="card-subtitle">Goldman Sachs</h6>
                    <p class="text-white">22 LPA </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aditya Sinha</h4>
                    <h6 class="card-subtitle">Goldman Sachs</h6>
                    <p class="text-white">22 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Anmola kumari</h4>
                    <h6 class="card-subtitle">Goldman Sachs</h6>
                    <p class="text-white">22 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Uditi Arora</h4>
                    <h6 class="card-subtitle">Goldman Sachs</h6>
                    <p class="text-white">22 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ankita Soni</h4>
                    <h6 class="card-subtitle">Goldman Sachs</h6>
                    <p class="text-white">22 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Vandita Goyal</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Akshita Agrawal</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Kamakshi Sethi</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aditya Bansal</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Vipul Vivek</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Harsh Bansal</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Kashyap Kumar</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Hardik Ajmera</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Fanendra Yadlapalli </h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shristi Singh Thakur</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Divya Golyan</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Utkarsh Dubey</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aviral Mongra</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Matli Mohan</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shubham Dubey </h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shubham Bhootra</h4>
                    <h6 class="card-subtitle">Fidelity</h6>
                    <p class="text-white">12.93 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ronak Gadia</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Saransh Goyal</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shambhawi Varchasva</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ashish Kumar</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">M. Satish Reddy</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shreya Vijay</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shubham Arora</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Nidheesh Panchal</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aditya Sinha</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Prakriti Sankla</h4>
                    <h6 class="card-subtitle">JP Morgan</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Divya Gupta</h4>
                    <h6 class="card-subtitle">Salesforce</h6>
                    <p class="text-white">30.82 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aashish Goel</h4>
                    <h6 class="card-subtitle">Salesforce</h6>
                    <p class="text-white">30.82 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Tarishi Jain</h4>
                    <h6 class="card-subtitle">Salesforce</h6>
                    <p class="text-white">30.82 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Gaurav Kabra</h4>
                    <h6 class="card-subtitle">Salesforce</h6>
                    <p class="text-white">30.82 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shivani Khandelwal</h4>
                    <h6 class="card-subtitle">Salesforce</h6>
                    <p class="text-white">30.82 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ramavatar Choudhary</h4>
                    <h6 class="card-subtitle">Amazon</h6>
                    <p class="text-white">28.75 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shivanshu Vyas</h4>
                    <h6 class="card-subtitle">Amazon</h6>
                    <p class="text-white">28.75 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Narender Kumar Yadav</h4>
                    <h6 class="card-subtitle">Flipkart</h6>
                    <p class="text-white">23.84 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Aditya Raj</h4>
                    <h6 class="card-subtitle">Flipkart</h6>
                    <p class="text-white">23.84 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Sumit Kumar</h4>
                    <h6 class="card-subtitle">Bajaj Auto</h6>
                    <p class="text-white">8.72 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Himanshu Mangal</h4>
                    <h6 class="card-subtitle">Bajaj Auto</h6>
                    <p class="text-white">8.72 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ankur Khandelwal</h4>
                    <h6 class="card-subtitle">Bajaj Auto</h6>
                    <p class="text-white">8.72 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Rahul Agarwal</h4>
                    <h6 class="card-subtitle">Bajaj Auto</h6>
                    <p class="text-white">8.72 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Kapil Saini</h4>
                    <h6 class="card-subtitle">Service Now</h6>
                    <p class="text-white">25 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Rahul Kumar</h4>
                    <h6 class="card-subtitle">Service Now</h6>
                    <p class="text-white">25 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Rishabh Kalakoti</h4>
                    <h6 class="card-subtitle">Service Now</h6>
                    <p class="text-white">25 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Srishti Agarwal</h4>
                    <h6 class="card-subtitle">Box8</h6>
                    <p class="text-white">17 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Chandni Dewani</h4>
                    <h6 class="card-subtitle">Box8</h6>
                    <p class="text-white">17 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Gaurav Bansal</h4>
                    <h6 class="card-subtitle">Airtel</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Mukul Kumar</h4>
                    <h6 class="card-subtitle">Airtel</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Harshita Agarwal</h4>
                    <h6 class="card-subtitle">Airtel</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Ronak Gupta</h4>
                    <h6 class="card-subtitle">Airtel</h6>
                    <p class="text-white">14 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shivam Chandna</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Smrity Prakash</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Nishant Sharma</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Devesh Agarwal</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Anshika Maheshwari</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Vidhan Kumar</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shivam Tyagi</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Yaashi Gupta</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Nishi Saraswat</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Bharat Kumar</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Kela Priyansh</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Vivek Sharma</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Chandrapal Singh</h4>
                    <h6 class="card-subtitle">Reliance</h6>
                    <p class="text-white">7.5 LPA </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/celebration.jpg" height="230" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <!--<img src="../assets/images/users/1.jpg" class="img-circle" width="100">-->
                    <h4 class="card-title">Shubham</h4>
                    <h6 class="card-subtitle">QuadEye Security</h6>
                    <p class="text-white">17 LPA </p>
                </div>
            </div>
        </div>
    </div>
</div>
