<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Edit Company Details</h4>
    </div>
</div>

<!--Company Added Div-->
<div class="row" ng-show="editCompany.successMsg">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="text-md-center">
                    <i class="icon-check large-success-icon"></i>
                    <h3 class="success-text">Details Successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--update Company details Form -->
<form ng-submit="editCompany.updateCompanyDetails(editCompany.companyDetail);" ng-show="!editCompany.successMsg">

    <div class="row">

        <!--Company Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Company Details</h4>
                    <h6 class="card-subtitle">Enter company details for placement session</h6>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Company Name</label>
                                <input type="text" class="form-control" placeholder="Enter name" ng-model="editCompany.companyDetail.company_name">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Company Website Link</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter URL" ng-model="editCompany.companyDetail.company_website_url">
                                </div>
                                <small class="form-control-feedback"> *Don't forget to add http:// or https://. </small>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Organization Type</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.organization_type">
                                    <option value="">-- Select Organization Type --</option>
                                    <option>Private sector</option>
                                    <option>Start-up</option>
                                    <option>Govt. owned</option>
                                    <option>Public sector</option>
                                    <option>MNC (Indian or Foreign)</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Industry Sector</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.industry_sector">
                                    <option value=""> -- Select Industry Sector --</option>
                                    <option>Analytics</option>
                                    <option>Consulting</option>
                                    <option>Core (Technical)</option>
                                    <option>Finance</option>
                                    <option>IT</option>
                                    <option>Business Development</option>
                                    <option>Sales & Marketing</option>
                                    <option>Management</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">About Company</label>
                        <textarea type="text" class="form-control" rows="3" ng-model="editCompany.companyDetail.about_company" placeholder="Something about company..."></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--Job Profile Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Job Profile Details</h4>
                    <h6 class="card-subtitle">Enter job details for placement session</h6>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Job Profile</label>
                                <input type="text" class="form-control" placeholder="Enter job profile" ng-model="editCompany.companyDetail.job_profile">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passout Batch</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.passout_batch">
                                    <option value=""> -- Select Batch --</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Recruitment</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.recruitment">
                                    <option value=""> -- Select Recruitment --</option>
                                    <option value="Internship">Internship</option>
                                    <option value="Placement">Placement</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6" ng-if="editCompany.companyDetail.recruitment == 'Internship'">
                            <div class="form-group">
                                <label class="control-label">Duration</label>
                                <input type="text" class="form-control" placeholder="Enter duration" ng-model="editCompany.companyDetail.duration">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="row">
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Location of Posting</label>
                                <input type="text" class="form-control" placeholder="Enter posting location" ng-model="editCompany.companyDetail.posting_location">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                        <!--/span-->
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Tentative Date of Joining </label>
                                <input type="date" class="form-control" ng-model="editCompany.companyDetail.joining_date">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--/span-->
                        <div class="col-md-12">
                            <!--/span-->
                            <div class="form-group">
                                <label class="control-label">Job Description</label>
                                <textarea type="text" class="form-control" rows="3" ng-model="editCompany.companyDetail.job_description" placeholder="Write Job Description here..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Student Eligibility Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Student Eligibility Details</h4>
                    <h6 class="card-subtitle">Enter eligibility details for placement session</h6>

                    <div class="row" ng-repeat="program in programs">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"><b>Select {{ program }} Program Branches</b></label>
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="branch in programsBranches[program.toLowerCase()]">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="branch" ng-model="editCompany.companyDetail.eligibility[program][branch]">
                                            <span class="custom-control-label">{{ branch }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Minimum CGPA</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter minimum CGPA" ng-model="editCompany.companyDetail.min_cgpa">
                                    <div class="input-group-append">
                                        <span class="input-group-text">CGPA</span>
                                    </div>
                                </div>
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Min. Marks in 10th</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter percentage" ng-model="editCompany.companyDetail.min_10_percent">
                                    <div class="input-group-append">
                                        <span class="input-group-text">% Marks in 10th</span>
                                    </div>
                                </div>
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Min. Marks in 12th</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter percentage" ng-model="editCompany.companyDetail.min_12_percent">
                                    <div class="input-group-append">
                                        <span class="input-group-text">% Marks in 12th</span>
                                    </div>
                                </div>
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Medical Requirement</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.medical_requirement">
                                    <option value=""> -- Select Medical Requirement --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Service Agreement</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.service_agreement">
                                    <option value=""> -- Select Service Agreement -- </option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6" ng-if="editCompany.companyDetail.service_agreement == 'Yes'">
                            <div class="form-group">
                                <label class="control-label">Service Agreement Duration</label>
                                <input type="text" class="form-control" placeholder="Enter service agreement duration" ng-model="editCompany.companyDetail.service_agreement_duration">
                                <small class="form-control-feedback"> *Duration in months. </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Other Eligibility</label>
                        <input type="text" class="form-control" placeholder="Enter other eligibility" ng-model="editCompany.companyDetail.other_eligibility">
                        <!--<small class="form-control-feedback"> This field has error. </small>-->
                    </div>

                </div>
            </div>
        </div>

        <!-- Package & Other facilities details -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Package Details</h4>
                    <h6 class="card-subtitle">Enter package details for placement session</h6>

                    <div class="form-group" ng-show="editCompany.dontShowProgramWisePackage">
                        <label class="control-label">Package</label>
                        <input type="text" class="form-control" placeholder="Enter other eligibility" ng-model="editCompany.companyDetail.package">
                        <!--<small class="form-control-feedback"> This field has error. </small>-->
                    </div>

                    <div ng-repeat="program in programs" ng-show="!editCompany.dontShowProgramWisePackage">
                        <h4 class="text-center"><b>{{ program }} Package</b></h4>
                        <div class="row p-t-20">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Basic Pay</label>
                                    <input type="text" class="form-control" placeholder=".... ₹" ng-model="editCompany.companyDetail.package[program].basic_pay">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">HRA</label>
                                    <input type="text" class="form-control" placeholder="...... ₹" ng-model="editCompany.companyDetail.package[program].hra">
                                    <!--<small class="form-control-feedback"> This field has error. </small>-->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Perks & Bonus</label>
                                    <input type="text" class="form-control" placeholder="...... ₹" ng-model="editCompany.companyDetail.package[program].perks_bonus">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Gross</label>
                                    <input type="text" class="form-control" placeholder="...... ₹" ng-model="editCompany.companyDetail.package[program].gross">
                                    <!--<small class="form-control-feedback"> This field has error. </small>-->
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Take Home</label>
                                    <input type="text" class="form-control" placeholder="...... ₹" ng-model="editCompany.companyDetail.package[program].take_home">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">CTC</label>
                                    <input type="text" class="form-control" placeholder="...... ₹" ng-model="editCompany.companyDetail.package[program].ctc">
                                    <!--<small class="form-control-feedback"> This field has error. </small>-->
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Company Accommodation</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.company_accommodation">
                                    <option value=""> -- Select --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Extra Facility</label>
                                <input type="text" class="form-control" placeholder="Enter other facility" ng-model="editCompany.companyDetail.other_facility">
                                <!--<small class="form-control-feedback"> This field has error. </small>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Selection Process Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Selection Process</h4>
                    <h6 class="card-subtitle">Enter selection process details for placement session</h6>

                    <div class="form-group row p-t-20">
                        <label class="col-4 col-form-label">Pre Placement Talk</label>
                        <div class="col-4">
                            <select class="form-control" ng-model="editCompany.companyDetail.selection_process.pre_placement_talk.ppt">
                                <option value=""> -- Select --</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-4" ng-if="editCompany.companyDetail.selection_process.pre_placement_talk.ppt == 'Yes'">
                            <input type="date" class="form-control" ng-model="editCompany.companyDetail.selection_process.pre_placement_talk.date">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-4 col-form-label">Aptitude Test</label>
                        <div class="col-4">
                            <select class="form-control" ng-model="editCompany.companyDetail.selection_process.aptitude_test.test">
                                <option value=""> -- Select --</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-4" ng-if="editCompany.companyDetail.selection_process.aptitude_test.test == 'Yes'">
                            <input type="date" class="form-control" ng-model="editCompany.companyDetail.selection_process.aptitude_test.date">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-4 col-form-label">Technical Test</label>
                        <div class="col-4">
                            <select class="form-control" ng-model="editCompany.companyDetail.selection_process.technical_test.test">
                                <option value=""> -- Select --</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-4" ng-if="editCompany.companyDetail.selection_process.technical_test.test == 'Yes'">
                            <input type="date" class="form-control" ng-model="editCompany.companyDetail.selection_process.technical_test.date">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-4 col-form-label">Group Discussion</label>
                        <div class="col-4">
                            <select class="form-control" ng-model="editCompany.companyDetail.selection_process.group_discussion.gd">
                                <option value=""> -- Select --</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-4" ng-if="editCompany.companyDetail.selection_process.group_discussion.gd == 'Yes'">
                            <input type="date" class="form-control" ng-model="editCompany.companyDetail.selection_process.group_discussion.date">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Personal Interview</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="No. of rounds" ng-model="editCompany.companyDetail.selection_process.personal_interview.rounds">
                                <div class="input-group-append">
                                    <span class="input-group-text">Rounds</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <input type="date" class="form-control" ng-model="editCompany.companyDetail.selection_process.personal_interview.date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Provision for Waitlist</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.waitlist">
                                    <option value=""> -- Select --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Final Offer to be announced</label>
                                <select class="form-control" ng-model="editCompany.companyDetail.final_offer">
                                    <option value=""> -- Select --</option>
                                    <option value="Same Day">Same Day</option>
                                    <option value="Later, but no further interviews">Later, but no further interviews</option>
                                    <option value="Later, after next stage of interviews">Later, after next stage of interviews</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Registration Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registration Details</h4>
                    <h6 class="card-subtitle">Enter registration details for placement session</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <label class="m-t-20">Last Date to Apply</label>
                            <input type="datetime-local" class="form-control" placeholder="Enter date" ng-model="editCompany.companyDetail.deadline_date">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Message -->
    <div class="alert alert-primary alert-rounded" ng-show="editCompany.loading">
        <strong> Loading!</strong> Hold on. updating company details...
    </div>

    <!-- Error Message -->
    <div class="alert alert-danger alert-rounded" ng-show="editCompany.errorMsg">
        <strong>Oops! </strong> {{ editCompany.errorMsg }}
    </div>

    <!--Submit Buttom-->
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary btn-rounded"><i class="ti-check-box"></i> &nbsp; Submit Details</button>
    </div>
</form>
