<div class="row page-titles">
   <div class="col-md-5 align-self-center">
       <h4 class="text-themecolor">Welcome to MNIT Placement Portal</h4>
   </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
   <div class="col-12">
       <div class="card">
           <div class="card-body">
               <h4 class="card-title">MNIT Placement Portal Login</h4>
               <h6 class="card-subtitle">Login for the placement session</h6>

               <!-- OTP Verification Form -->
               <form ng-if="!main.isOTPsent" class="form-material m-t-40" ng-submit="main.sendOTPForEmailVerificationIfValidLogin(logData);">
                   <!-- College ID Input -->
                   <div class="form-group">
                       <label>College ID </label>
                       <input type="text" class="form-control form-control-line" placeholder="Enter your college id" ng-model="main.logData.college_id" required>
                   </div>
                   
                   <!-- Password Input-->
                   <div class="form-group">
                       <label>Password </label>
                       <input type="password" class="form-control form-control-line" placeholder="Enter your password" ng-model="main.logData.password" required>
                   </div>
                   
                   <!-- Loading Message -->
                   <div class="alert alert-primary alert-rounded" ng-show="main.loading">
                       <strong> Loading!</strong> Hold on! Logging you in...
                   </div>
                   <!-- Error Message -->
                   <div class="alert alert-danger alert-rounded" ng-show="main.errorMsg">
                       <i class="ti-face-sad"></i>
                       <strong> Oops!</strong> {{ main.errorMsg }}
                   </div>

                   <!-- Success Msg -->
                   <div class="alert alert-success alert-rounded" ng-show="main.successMsg">
                       <i class="ti-face-smile"></i>
                       <strong> Yay!</strong> {{ main.successMsg }}
                   </div>

                   <div ng-show="!main.successMsg">
                       <button type="submit" ng-disabled="main.loading" class="btn btn-success btn-rounded">Login</button>
                       <a href="/reset-password" class="text-danger p-l-5">Reset Password?</a>

                   </div>
               </form>
               <!--OTP Verification Form End -->

               <!-- Login Form -->
               <form ng-if="main.isOTPsent" class="form-material m-t-40" ng-submit="main.doLogin(logData);">
                   <!-- College ID Input -->
                   <div class="form-group">
                       <label>Verification Code </label>
                       <input type="text" class="form-control form-control-line" placeholder="Enter verification code" ng-model="main.logData.login_otp" required>
                   </div>

                   <!-- Loading Message -->
                   <div class="alert alert-primary alert-rounded" ng-show="main.loading">
                       <strong> Loading!</strong> Hold on! Verifying OTP...
                   </div>

                   <!-- Error Message -->
                   <div class="alert alert-danger alert-rounded" ng-show="main.errorMsg">
                       <i class="ti-face-sad"></i>
                       <strong> Oops!</strong> {{ main.errorMsg }}!
                   </div>

                   <!-- OTP Sent Success Msg -->
                   <div class="alert alert-success alert-rounded" ng-show="main.successMsg">
                       <i class="ti-face-smile"></i>
                       <strong> Yay!</strong> {{ main.successMsg }}
                   </div>

                   <!-- Success Msg -->
                   <div class="alert alert-success alert-rounded" ng-show="main.loginSuccessMsg">
                       <i class="ti-face-smile"></i>
                       <strong> Yay!</strong> {{ main.loginSuccessMsg }}
                   </div>

                   <div ng-show="!main.loginSuccessMsg">
                       <button type="submit" ng-disabled="main.loading" class="btn btn-success btn-rounded">Verify OTP</button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>



