<div class="row page-titles">
   <div class="col-md-5 align-self-center">
       <h4 class="text-themecolor">Welcome to MNIT Placement Portal</h4>
   </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
   <div class="col-12">
       <div class="card">
           <div class="card-body">
               <h4 class="card-title">MNIT Placement Portal Login</h4>
               <h6 class="card-subtitle">Login for the placement session</h6>
               <form class="form-material m-t-40" ng-submit="main.doLogin(logData);">
                   <div class="form-group">
                       <label>College ID </label>
                       <input type="text" class="form-control form-control-line" placeholder="Enter your college id" ng-model="main.logData.college_id" required>
                   </div>

                   <div class="form-group">
                       <label>Password </label>
                       <input type="password" class="form-control form-control-line" placeholder="Enter your password" ng-model="main.logData.password">
                   </div>

                   <div class="alert alert-success alert-rounded" ng-show="main.successMsg">
                       <i class="icon-check"></i>
                       <strong> Yay!</strong> {{ main.successMsg }}
                   </div>

                   <div class="alert alert-danger alert-rounded" ng-show="main.errorMsg">
                       <i class="icon-close"></i>
                       <strong>Oops! </strong> {{ main.errorMsg }}
                   </div>

                   <button type="submit" class="btn btn-success btn-rounded">Login</button>
                   <a href="/reset-password" class="text-danger p-l-5">Reset Password?</a>

               </form>
           </div>
       </div>
   </div>
</div>



