<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Welcome to MNIT Placement Portal</h4>
    </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">MNIT Placement Portal Reset Password</h4>
                <h6 class="card-subtitle">Enter new password for your account of the placement session</h6>
                <form class="form-material m-t-40" ng-submit="reset.changePassword(logData);">
                    <div class="form-group">
                        <label>Password </label>
                        <input ng-disabled="reset.disabled" type="password" class="form-control form-control-line" placeholder="Enter your new password" ng-model="reset.logData.password" required>
                    </div>

                    <div class="alert alert-success alert-rounded" ng-show="reset.successMsg">
                        <i class="icon-check"></i>
                        <strong> Yay!</strong> {{ reset.successMsg }}
                    </div>

                    <div class="alert alert-danger alert-rounded" ng-show="reset.errorMsg">
                        <i class="icon-close"></i>
                        <strong>Oops! </strong> {{ reset.errorMsg }}
                    </div>

                    <button ng-disabled="reset.disabled" type="submit" class="btn btn-success btn-rounded">Reset Password</button>

                </form>
            </div>
        </div>
    </div>
</div>