<div class="row page-titles">
    <div class="col-lg-12">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Compose Interview Experience</h3>
                        <h6 class="font-light m-t-0">Share details about the interview process you have been through..</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row page-titles">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div text-angular data-ng-model="orightml"></div>
            </div>
            <div class="card-body">
                <div ng-bind-html="orightml"></div>
            </div>
        </div>
    </div>
</div>
