<!-- Interview Experience-->
<div class="row page-titles">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>{{ experience.experience.title }}</h3>
                        <h6 class="font-light m-t-0">Created by {{ experience.experience.author_name }}.</h6>
                        <hr>
                    </div>
                    <div class="col-12">
                        <div ng-bind-html="experience.experience.experience"></div>
                        <br>
                        <div>
                            <span class="label label-success" ng-repeat="tag in experience.experience.tags">{{ tag }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

