<div class="row page-titles">
    <div class="col-lg-12">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Interview Experiences</h3>
                        <h6 class="font-light m-t-0">Read about the interview processes your mates have been through..</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Interview Experiences -->
<div>
    <div class="row">
        <!-- Column -->
        <div class="col-lg-8">
            <div class="card cc-widget">
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="icon-rocket"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0">Amazon | SDE-1 | Bangalore | Jan 2020 [Offer]
                                <!--<span class="badge badge-pill badge-danger text-white" ng-show="getApplyStatusInCompany(company._id);">Applied</span> <span class="badge badge-pill badge-primary text-white" ng-show="!getApplyStatusInCompany(company._id);">Pending</span>--></h4>
                            <h5 class="text-muted m-b-0"> Pankaj Tanwar created at 21 Jan 2020, 12:30 PM</h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details">
                        I was applying to full time opportunities via LinkedIn, job websites, indeed, etc. Unfortunately I had not heard back from many of the major technology companies I applied to and the ones I did hear back from weren't interested at this time. One of the companies I had not hear back from was Facebook.
                    </div>
                    <br>
                    <div>
                        <span class="label label-success">Amazon</span>
                        <span class="label label-success">Interview Experience</span>
                    </div>
                </div>
            </div>

            <div class="card cc-widget">
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="icon-rocket"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0">Amazon | SDE-1 | Bangalore | Jan 2020 [Offer]
                                <!--<span class="badge badge-pill badge-danger text-white" ng-show="getApplyStatusInCompany(company._id);">Applied</span> <span class="badge badge-pill badge-primary text-white" ng-show="!getApplyStatusInCompany(company._id);">Pending</span>--></h4>
                            <h5 class="text-muted m-b-0"> By Pankaj Tanwar , 21 Jan 2020</h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details">
                        I was applying to full time opportunities via LinkedIn, job websites, indeed, etc. Unfortunately I had not heard back from many of the major technology companies I applied to and the ones I did hear back from weren't interested at this time. One of the companies I had not hear back from was Facebook.
                    </div>
                    <br>
                    <div>
                        <span class="label label-success">Amazon</span>
                        <span class="label label-success">Interview Experience</span>
                    </div>
                </div>
            </div>

            <div class="card cc-widget">
                <div class="card-body">
                    <div class="d-flex no-block flex-row">
                        <div class="round align-self-center round-primary m-t-10 m-b-10"><i class="icon-rocket"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h4 class="m-b-0">Amazon | SDE-1 | Bangalore | Jan 2020 [Offer]
                                <!--<span class="badge badge-pill badge-danger text-white" ng-show="getApplyStatusInCompany(company._id);">Applied</span> <span class="badge badge-pill badge-primary text-white" ng-show="!getApplyStatusInCompany(company._id);">Pending</span>--></h4>
                            <h5 class="text-muted m-b-0"> By Pankaj Tanwar , 21 Jan 2020</h5>
                        </div>
                    </div>
                    <div class="d-flex no-block flex-row m-t-20 cc-details">
                        I was applying to full time opportunities via LinkedIn, job websites, indeed, etc. Unfortunately I had not heard back from many of the major technology companies I applied to and the ones I did hear back from weren't interested at this time. One of the companies I had not hear back from was Facebook.
                    </div>
                    <br>
                    <div>
                        <span class="label label-success">Amazon</span>
                        <span class="label label-success">Interview Experience</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card cc-widget">
                <div class="card-body">


                </div>
            </div>
        </div>
    </div>
</div>

