<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Welcome to MNIT Placement Portal </h4>
    </div>
</div>
<div class="row">
    <!-- Open Source -->
    <div class="col-lg-12">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            <h3 class="text-info"><i class="icon-social-github"></i> Open Source!</h3> Placement Portal is open source. Be part of the community or help improve the placement portal. If you want to contribute to the project and make it better, your help is very welcome!
            <br><br><a href="https://github.com/Pankajtanwarbanna/PlacementMNIT" target="_blank" class="btn btn-primary">Fork on Github</a>
        </div>
    </div>
    <!-- Happy New Year -->
    <div class="col-lg-12">
        <div class="card news-slide social-profile" style="background:url(https://cdn.statically.io/img/placements.mnit.ac.in/assets/images/MNIT/happy.jpg) center center / cover;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active carousel-item">
                        <!--<div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">Don't limit your challenges, challenge your limits.</h3>
                        </div>-->
                    </div>
                    <div class="carousel-item">
                        <!--<div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">The best preparation for tomorrow is doing your best today.</h3>
                        </div>-->
                    </div>
                    <div class="carousel-item">
                        <!--<div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">Believe you can and you're halfway there.</h3>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- UG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>UG Placement Statistics 2019-20</h3>
                        <h5 class="font-light m-t-0">(Data till 30 January 2020)</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">B.ARCH.</td>
                        <td><span class="text-info">10</span></td>
                        <td class="txt-oflo">10</td>
                        <td><span class="text-success">7 LPA</span></td>
                        <td class="txt-oflo">5.828 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">CHEMICAL</td>
                        <td><span class="text-info">39</span></td>
                        <td class="txt-oflo">39</td>
                        <td><span class="text-success">17 LPA</span></td>
                        <td class="txt-oflo">7.40 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="txt-oflo">CIVIL</td>
                        <td><span class="text-info">24</span></td>
                        <td class="txt-oflo">22</td>
                        <td><span class="text-success">11 LPA</span></td>
                        <td class="txt-oflo">6.69 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="txt-oflo">COMPUTER SCIENCE</td>
                        <td><span class="text-info">97</span></td>
                        <td class="txt-oflo">88</td>
                        <td><span class="text-success">30.82 LPA</span></td>
                        <td class="txt-oflo">14.59 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td class="txt-oflo">ELECTRONICS & COMM.</td>
                        <td><span class="text-info">60</span></td>
                        <td class="txt-oflo">57</td>
                        <td><span class="text-success">22 LPA</span></td>
                        <td class="txt-oflo">10.48 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">6</td>
                        <td class="txt-oflo">ELECTRICAL</td>
                        <td><span class="text-info">41</span> </td>
                        <td class="txt-oflo">41</td>
                        <td><span class="text-success">22 LPA</span></td>
                        <td class="txt-oflo">7.49 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">7</td>
                        <td class="txt-oflo">MECHANICAL</td>
                        <td><span class="text-info">60</span></td>
                        <td class="txt-oflo">60</td>
                        <td><span class="text-success">10.5 LPA</span></td>
                        <td class="txt-oflo">6.68 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">8</td>
                        <td class="txt-oflo">METALLURGY</td>
                        <td><span class="text-info">39</span></td>
                        <td class="txt-oflo">38</td>
                        <td><span class="text-success">17 LPA</span></td>
                        <td class="txt-oflo">6.68 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>370</b></span></td>
                        <td class="txt-oflo"><b>355</b></td>
                        <td><span class="text-success"><b>30.82 LPA</b></span></td>
                        <td class="txt-oflo"><b>9.40 LPA</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- PG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>PG Placement Statistics 2019-20</h3>
                        <h5 class="font-light m-t-0">(Data till 30 January 2020)</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">M.Tech.</td>
                        <td><span class="text-info">48</span></td>
                        <td class="txt-oflo">48</td>
                        <td><span class="text-success">20.67 LPA</span></td>
                        <td class="txt-oflo">8.29 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">M.Sc.</td>
                        <td><span class="text-info">3</span></td>
                        <td class="txt-oflo">3</td>
                        <td><span class="text-success">6.5 LPA</span></td>
                        <td class="txt-oflo">5.43 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">MBA</td>
                        <td><span class="text-info">11</span></td>
                        <td class="txt-oflo">11</td>
                        <td><span class="text-success">5.79 LPA</span></td>
                        <td class="txt-oflo">4.65 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>62</b></span></td>
                        <td class="txt-oflo"><b>62</b></td>
                        <td><span class="text-success"><b>20.67 LPA</b></span></td>
                        <td class="txt-oflo"><b>6.97 LPA</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <h3 class="text-center">UG + PG Package Details</h3>
                <div class="row">
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Maximum</b> : 30.82 LPA</h5>
                    </div>
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Average</b> : 8.19 LPA</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card oh">
                    <div class="card-body bg-light">
                        <div class="row text-center m-b-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">59</h2><span class="text-muted">Pre-Placement Offers</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">160+</h2><span class="text-muted">No. of Companies Visited</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">151</h2><span class="text-muted">On-Campus Internships (UG + PG)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
