<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Welcome to MNIT Placement Portal </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card news-slide social-profile" style="background:url(assets/images/MNIT/home.jpg) center center / cover;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active carousel-item">
                        <div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">Don't limit your challenges, challenge your limits.</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">The best preparation for tomorrow is doing your best today.</h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption">
                            <span class="label label-danger label-rounded">MNIT Jaipur</span>
                            <h3 class="m-t-5 font-light">Believe you can and you're halfway there.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- UG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>UG Placement Statistics 2019-20</h3>
                        <h5 class="font-light m-t-0">(Data till 15 December 2019)</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">B.ARCH.</td>
                        <td><span class="text-info">7</span></td>
                        <td class="txt-oflo">7</td>
                        <td><span class="text-success">7 LPA</span></td>
                        <td class="txt-oflo">6.39 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td class="txt-oflo">CHEMICAL</td>
                        <td><span class="text-info">35</span></td>
                        <td class="txt-oflo">34</td>
                        <td><span class="text-success">17 LPA</span></td>
                        <td class="txt-oflo">9.05 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td class="txt-oflo">CIVIL</td>
                        <td><span class="text-info">20</span></td>
                        <td class="txt-oflo">20</td>
                        <td><span class="text-success">11 LPA</span></td>
                        <td class="txt-oflo">6.78 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                        <td class="txt-oflo">COMPUTER SCIENCE</td>
                        <td><span class="text-info">94</span></td>
                        <td class="txt-oflo">87</td>
                        <td><span class="text-success">30.82 LPA</span></td>
                        <td class="txt-oflo">14.52 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">5</td>
                        <td class="txt-oflo">ELECTRONICS & COMM.</td>
                        <td><span class="text-info">60</span></td>
                        <td class="txt-oflo">57</td>
                        <td><span class="text-success">22 LPA</span></td>
                        <td class="txt-oflo">10.47 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">6</td>
                        <td class="txt-oflo">ELECTRICAL</td>
                        <td><span class="text-info">36</span> </td>
                        <td class="txt-oflo">36</td>
                        <td><span class="text-success">22 LPA</span></td>
                        <td class="txt-oflo">7.58 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">7</td>
                        <td class="txt-oflo">MECHANICAL</td>
                        <td><span class="text-info">50</span></td>
                        <td class="txt-oflo">50</td>
                        <td><span class="text-success">10.5 LPA</span></td>
                        <td class="txt-oflo">6.97 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">8</td>
                        <td class="txt-oflo">METALLURGY</td>
                        <td><span class="text-info">31</span></td>
                        <td class="txt-oflo">31</td>
                        <td><span class="text-success">17 LPA</span></td>
                        <td class="txt-oflo">6.96 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>333</b></span></td>
                        <td class="txt-oflo"><b>322</b></td>
                        <td><span class="text-success"><b>30.82 LPA</b></span></td>
                        <td class="txt-oflo"><b>8.59 LPA</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- PG Placement Stats -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h3>PG Placement Statistics 2019-20</h3>
                        <h5 class="font-light m-t-0">(Data till 15 December 2019)</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>BRANCH</th>
                        <th>OFFERS</th>
                        <th>PLACED</th>
                        <th>HIGHEST</th>
                        <th>AVERAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">M.Tech.</td>
                        <td><span class="text-info">33</span></td>
                        <td class="txt-oflo">33</td>
                        <td><span class="text-success">20.87 LPA</span></td>
                        <td class="txt-oflo">8.29 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td class="txt-oflo">MBA</td>
                        <td><span class="text-info">10</span></td>
                        <td class="txt-oflo">10</td>
                        <td><span class="text-success">5.79 LPA</span></td>
                        <td class="txt-oflo">4.83 LPA</td>
                    </tr>
                    <tr>
                        <td class="text-center"></td>
                        <td class="txt-oflo"><b>TOTAL</b></td>
                        <td><span class="text-info"><b>43</b></span></td>
                        <td class="txt-oflo"><b>43</b></td>
                        <td><span class="text-success"><b>20.87 LPA</b></span></td>
                        <td class="txt-oflo"><b>6.56 LPA</b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <h3 class="text-center">UG + PG Package Details</h3>
                <div class="row">
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Maximum</b> : 30.82 LPA</h5>
                    </div>
                    <div class="col-6 text-center">
                        <h5 class="font-light m-t-0"><b>Average</b> : 7.58 LPA</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card oh">
                    <div class="card-body bg-light">
                        <div class="row text-center m-b-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">59</h2><span class="text-muted">Pre-Placement Offers</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">137</h2><span class="text-muted">No. of Companies Visited</span>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h2 class="m-b-0 font-light">132</h2><span class="text-muted">On-Campus Internships (UG + PG)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
