.large-success-icon {
    font-size: 60px;
    color: green;
}
.success-text {
    color: green;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card {
    border-radius: 15px;
}
.card-img {
    border-radius: 15px;
}
.success-icon {
    -webkit-text-stroke: 0.5px green;
}
.danger-icon {
    -webkit-text-stroke: 0.5px red;
}
