.large-success-icon {
    font-size: 60px;
    color: green;
}
.success-text {
    color: green;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card {
    border-radius: 15px;
}
.card-img {
    border-radius: 15px;
}
.success-icon {
    -webkit-text-stroke: 0.5px green;
}
.danger-icon {
    -webkit-text-stroke: 0.5px red;
}
.profile-pic {
    position: relative;
    display: inline-block;
}

.profile-pic .edit {
    display: block;
}

.edit {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.edit a {
    color: #000;
}
