<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Faculty In-Charge</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673333/team/mahender-sir_myouo0.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Prof. Mahender Choudhary</h4>
                            <h6 class="card-subtitle">Professor In-charge</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 141 252 9065</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673328/team/vk-sangal_ivivp1.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. V K Sangal</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650367</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673344/team/kuldeep-sir_gy9joy.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Kuldeep Singh</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9910101592</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673330/team/rohidas-sir_veqomv.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Rohidas Bhoi</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650483</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (B.Tech.)</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673496/team/pankaj-tanwar.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Pankaj Tanwar</h4>
                            <h6 class="card-subtitle">Computer Science</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7740996673</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673335/team/raghuveer_cslqlz.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Raghuveer</h4>
                            <h6 class="card-subtitle">Electronics & Comm.</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9885040308</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673366/team/srisha_gzdp0m.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Srisha Gupta</h4>
                            <h6 class="card-subtitle">Civil</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8239078813</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673361/team/dk-sanu_gy4kpo.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Deepanshu Kumar Sanu</h4>
                            <h6 class="card-subtitle">Mechanical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9470842828</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673355/team/shivam-dubey_lbgwhc.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Shivam Dubey</h4>
                            <h6 class="card-subtitle">Chemical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9532732778</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673363/team/anishka_uaoqjp.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Anishka Agarwal</h4>
                            <h6 class="card-subtitle">Chemical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8094003331</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673358/team/ajay_qyt5u5.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Ajay Ghosh</h4>
                            <h6 class="card-subtitle">Metallurgy</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9983436761</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673361/team/abhishek-khatri_mmys3g.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Abhishek Khatri</h4>
                            <h6 class="card-subtitle">Electrical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9460588108</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673330/team/akshat_ouvuug.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Akshat Mathur</h4>
                            <h6 class="card-subtitle">Metallurgy</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9587021964</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673328/team/ashna_m8f2uh.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Aashna Arora </h4>
                            <h6 class="card-subtitle">Architecture </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8696438155</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (PG)</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673327/team/avinash_b13wbe.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Avinash</h4>
                            <h6 class="card-subtitle">ECE (M.Tech.) </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8092014650</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673328/team/ashish_ktibuy.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Ashish Sharma</h4>
                            <h6 class="card-subtitle">Materials (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9468665506</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673329/team/rajat_lfvhrp.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Rajat Tiwari</h4>
                            <h6 class="card-subtitle">Chemical (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8840924247</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673331/team/saket_kncmpa.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Saket Kumar</h4>
                            <h6 class="card-subtitle">MBA </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8587021247</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673326/team/asvin_eombb4.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Theetharappan Aswin</h4>
                            <h6 class="card-subtitle">MBA </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9442377574</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (IIIT Kota)</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673356/team/shrikant_wldstg.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Shrikant Deshmane</h4>
                            <h6 class="card-subtitle">Computer Science </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9950392194</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673359/team/mohit_roz1ee.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Mohit Choudhary</h4>
                            <h6 class="card-subtitle">Electronics & Comm.</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8561946709</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
