<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Faculty In-Charge</h4>
    </div>

    <!-- Teams -->
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center dropdown">
            
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-user"></i> &nbsp;Placement Teams
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="/team">Team 2022</a></li>
                  <li><a class="dropdown-item" href="/team2021">Team 2021</a></li>
                  <li><a class="dropdown-item" href="/team2020">Team 2020</a></li>
                </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673333/team/mahender-sir_myouo0.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Prof. Mahender Choudhary</h4>
                            <h6 class="card-subtitle">Professor In-charge</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 141 252 9065</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673328/team/vk-sangal_ivivp1.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. V K Sangal</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650367</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673344/team/kuldeep-sir_gy9joy.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Kuldeep Singh</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9910101592</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673330/team/rohidas-sir_veqomv.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Rohidas Bhoi</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650483</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1615549353/team/gireendra_hjt55y.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Gireendra Kumar</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650289</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1615549353/team/priyanka_yfhxhx.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Priyanka Sihag</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7426050343</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (B.Tech.)</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314336/team/team2021/IMG_20200802_213932_-_SAGAR_RAWAL_tmyjns.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Sagar Rawal</h4>
                            <h6 class="card-subtitle">Mechanical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7011003230</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314181/team/team2021/IMG_20200802_212228_-_ekansh_choudhary_uaxgk0.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Ekansh Choudhary</h4>
                            <h6 class="card-subtitle">Chemical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9653003298</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1599837733/team/team2021/WhatsApp_Image_2020-09-11_at_7.27.22_AM_vmscej.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dixit Jain</h4>
                            <h6 class="card-subtitle">Computer Science</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8742051270</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314303/team/team2021/Sushant_z68sbr.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Sushant Giri</h4>
                            <h6 class="card-subtitle">Chemical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7906988238</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314215/team/team2021/IMG_8765_-_GAURI_SHARMA_vxul1t.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Gauri Sharma</h4>
                            <h6 class="card-subtitle">Architecture</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8076308448</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314238/team/team2021/589587EA-A5AA-4650-BD5D-EC3D0EDCC373_-_Jayesh_Suthar_uqtucj.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Jayesh Suthar</h4>
                            <h6 class="card-subtitle">Electronics</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9784342191</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314371/team/team2021/DSC_0010_-_PALLAV_KUMAR_uy3fuc.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Pallav</h4>
                            <h6 class="card-subtitle">Architecture</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7050757171</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314353/team/team2021/IMG_20200114_170643_761_-_ANKIT_CHOUDHARY_gmxtnx.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Ankit Choudhary</h4>
                            <h6 class="card-subtitle">Mechanical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9079002654</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314256/team/team2021/SquarePic_20200619_00403180_-_RAJAT_KANOJIA_pkf2du.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Rajat Kanojia</h4>
                            <h6 class="card-subtitle">Metallurgy</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8218834676</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314321/team/team2021/IMG_20191210_204138_605_-_Vishnu_Sharma_gjygea.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Vishnu </h4>
                            <h6 class="card-subtitle">Electrical </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8398990907</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314198/team/team2021/8478204E-EBA5-47FE-8DB3-F01C721A4205_-_Shubham_Rana_qis5pk.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Shubham Rana</h4>
                            <h6 class="card-subtitle">Civil</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9053856789</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (PG)</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314273/team/team2021/IMG_20181221_214010_01_Bokeh_-_Siddhant_Jain_vznkud.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Siddhant Jain</h4>
                            <h6 class="card-subtitle">MBA </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8989509257</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1597314289/team/team2021/IMG_20200310_203107_-_GURUDEV_KUMAR_lskqxw.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Gurudev kumar</h4>
                            <h6 class="card-subtitle">Materials (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7903522342</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1601546281/team/team2021/hardic_cnqcfp.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Hardic Sharma</h4>
                            <h6 class="card-subtitle">Electronics & Comm. (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9891593900</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1601546281/team/team2021/WhatsApp_Image_2020-09-21_at_12.47.57_PM_naa6ii.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Bhupesh Agrawal</h4>
                            <h6 class="card-subtitle">Electrical (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8141214184</font></a></div>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (IIIT Kota)</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673356/team/shrikant_wldstg.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Shrikant Deshmane</h4>
                            <h6 class="card-subtitle">Computer Science </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9950392194</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593673359/team/mohit_roz1ee.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Mohit Choudhary</h4>
                            <h6 class="card-subtitle">Electronics & Comm.</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 8561946709</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
