<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Faculty In-Charge</h4>
    </div>

    <!-- Teams -->
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center dropdown">
            
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ti-user"></i> &nbsp;Placement Teams
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/team">Team 2022</a></li>
                    <li><a class="dropdown-item" href="/team2021">Team 2021</a></li>
                    <li><a class="dropdown-item" href="/team2020">Team 2020</a></li>
                </ul>

        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="http://mnit.ac.in/PortalProfile/images/faculty/mnitjas039.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Prof. M M Sharma</h4>
                            <h6 class="card-subtitle">Professor In-charge</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-1412713260</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630567595/team/team2022/sunandha_sinha_qixzkm.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Sunanda Sinha</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9549650369</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="http://mnit.ac.in/PortalProfile/images/faculty/mnitjas314.png" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Ila Sharma</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9549650769</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630577671/team/team2022/Tapas_Bajpai_hmnxjs.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Tapas Bajpai</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9549650603</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630577816/team/team2022/Ravita_Lamba-1_kekoky.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Ravita Lamba</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9549650797</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1615549353/team/gireendra_hjt55y.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Gireendra Kumar</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 9549650289</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1615549353/team/priyanka_yfhxhx.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dr. Priyanka Sihag</h4>
                            <h6 class="card-subtitle">Faculty Placement Coordinator</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 7426050343</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (PhD)</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1652943618/team/team2022/WhatsApp_Image_2022-05-18_at_2.32.25_PM_svovct.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Joohi Garg</h4>
                            <h6 class="card-subtitle">Electronics (PhD) </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91 6367171561</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (B.Tech.)</h4>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630580091/team/team2022/Sonal_2_axuvur.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Sonal Agrawal</h4>
                            <h6 class="card-subtitle">Computer Science</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-6376759316</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630580208/team/team2022/Harsh_2_ryecyg.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Harsh Abhinandan</h4>
                            <h6 class="card-subtitle">Chemical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-7014059560</font></a></div>
                            </div>
                        </center>
                    </div>

                    <!-- <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630578164/team/team2022/Dhruv_creqbr.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Dhruv Goyal</h4>
                            <h6 class="card-subtitle">Computer Science</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9529295390</font></a></div>
                            </div>
                        </center>
                    </div> -->

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630580207/team/team2022/Sanchita_2_tg8mps.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Sanchita Bisaria Nigam</h4>
                            <h6 class="card-subtitle">Chemical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9779571610</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630563812/team/team2022/Rishika_soni_tfrbqb.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Rishika Soni</h4>
                            <h6 class="card-subtitle">Architecture</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-8890148159</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630662619/team/team2022/WhatsApp_Image_2021-09-03_at_3.18.17_PM_athczo.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">YASHSWINI KABRA</h4>
                            <h6 class="card-subtitle">Mechanical</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-96027 14440</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630579955/team/team2022/Sakshi_eoyhho.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Sakshi Chandola</h4>
                            <h6 class="card-subtitle">Metallurgy</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-7618117991</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630579751/team/team2022/Anusha_gkrthj.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Anusha Jain</h4>
                            <h6 class="card-subtitle">Electrical </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-7974287377</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630574600/team/team2022/Abhay_cstply.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Abhay Kumar</h4>
                            <h6 class="card-subtitle">Civil</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-8210650120</font></a></div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Placement Co-ordinators (PG)</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630580508/team/team2022/Aastha_etpkyr.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Aastha Soni</h4>
                            <h6 class="card-subtitle">MBA </h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-7692091093</font></a></div>
                            </div>
                        </center>
                    </div> -->

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630563248/team/team2022/Pranay_ladha_jjt6wd.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Pranay Ladha</h4>
                            <h6 class="card-subtitle">MBA</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9529929956</font></a></div>
                            </div>
                        </center>
                    </div>

                    <!-- <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630580787/team/team2022/WhatsApp_Image_2021-09-02_at_4.29.34_PM_rkirxa.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">G. Anjan Kumar</h4>
                            <h6 class="card-subtitle">Electronics & Comm. (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-8919283935</font></a></div>
                            </div>
                        </center>
                    </div> -->

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630580508/team/team2022/Saksham_ypcnog.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Saksham Pathrol</h4>
                            <h6 class="card-subtitle">Chemical (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-7746992999</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630563246/team/team2022/Piyush_gaur_cnfi56.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Piyush Gaur</h4>
                            <h6 class="card-subtitle">Mechanical (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-8147651425</font></a></div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630579448/team/team2022/Shubham_Sharma_ejr4kc.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Shubham Sharma</h4>
                            <h6 class="card-subtitle">Computer Science (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9028275312</font></a></div>
                            </div>
                        </center>
                    </div>

                    <!-- <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630579654/team/team2022/Srishti_ahlfxy.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Srishti Lalchandani</h4>
                            <h6 class="card-subtitle">Electronics & Comm. (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9453219006</font></a></div>
                            </div>
                        </center>
                    </div> -->

                    <div class="col-lg-3">
                        <center class="m-t-30"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1630579802/team/team2022/Souvik_vhal5n.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10">Souvik Poddar</h4>
                            <h6 class="card-subtitle">Electrical Engineering (M.Tech.)</h6>
                            <div class="row text-center justify-content-md-center" ng-show="main.isLoggedIn">
                                <div class="col-12"><a href="javascript:void(0)" class="link"><i class="icon-call-in"></i> <font class="font-medium">+91-9079164306</font></a></div>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
