<div>
    <div class="text-center">
        <h1>Reset Password Page</h1>
    </div>
    <br>
    <form ng-submit="reset.changePassword(logData);">
        <label> Enter new Password :</label>
        <input ng-disabled="reset.disabled" class="form-control" placeholder="Enter new password" type="password" ng-model="reset.logData.password" required>
        <br>
        <button ng-disabled="reset.disabled" class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
    <div class="row show-hide-message">
        <div class="alert alert-danger" ng-show="reset.errorMsg">
            <strong> Oops! </strong> {{ reset.errorMsg  }}
        </div>
    </div>

    <div class="row show-hide-message">
        <div class="alert alert-success" ng-show="reset.successMsg">
            <strong> Success! </strong> {{ reset.successMsg  }}
        </div>
    </div>
</div>