<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Student Profile</h4>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">
                    <img src="assets/images/profile/{{ profile.userProfile.gender }}.png" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">{{ profile.userProfile.name }}</h4>
                    <h6 class="card-subtitle">{{ profile.userProfile.department }} Student</h6>
                    <div class="row text-center">
                        <div class="col-12"><a href="#" class="link"><i class="ti-location-pin"></i> <font class="font-medium">MNIT Jaipur</font></a></div>
                    </div>
                </center>
            </div>
            <div>
                <hr> </div>
            <div class="card-body">
                <small class="text-muted">Email address </small>
                <h6>{{ profile.userProfile.college_email }}</h6>
                <small class="text-muted p-t-30 db">Contact No.</small>
                <h6>+91 {{ profile.userProfile.contact_no }}</h6>
                <small class="text-muted p-t-30 db">Address</small>
                <h6>Village - Kurbara, Behind Aravali College, Neemkathana</h6>

                <small class="text-muted p-t-30 db">Social Profile</small>
                <br/>
                <a href="#">
                    <button class="btn btn-circle btn-secondary"><i class="icon-social-linkedin"></i></button>
                </a>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#" role="tab">Profile Details</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Name</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your name" class="form-control form-control-line" value="{{ profile.userProfile.name }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">College ID</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your college ID" class="form-control form-control-line" value="{{ profile.userProfile.college_id }}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Degree</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your degree" class="form-control form-control-line" value="{{ profile.userProfile.degree }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Branch </label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your branch" class="form-control form-control-line" value="{{ profile.userProfile.department }}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Personal Email</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your personal email" class="form-control form-control-line" value="{{ profile.userProfile.alternate_email }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Personal Contact No.</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your personal contact no." class="form-control form-control-line" value="+91 7976957231">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">CGPA</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your CGPA" class="form-control form-control-line" value="7.04">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Active Backlogs</label>
                                        <div class="col-md-6">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">Yes</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">10th Percentage (CGPA)</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your 10th percentage (CGPA)" class="form-control form-control-line" value="94.17%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Board</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your 10th board" class="form-control form-control-line" value="RBSE Board">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">12th Percentage (CGPA)</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your 12th percentage (CGPA)" class="form-control form-control-line" value="96.40%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Board</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your 12th board" class="form-control form-control-line" value="RBSE Board">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Date of Birth</label>
                                        <div class="col-md-12">
                                            <input type="date" placeholder="Enter your date of birth" class="form-control form-control-line">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Contact No.</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your contact no." class="form-control form-control-line" value="+91 7740996673">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-md-12">Address</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your address" class="form-control form-control-line" value="Village - Kurbara, Behind Aravali College">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">City</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your city" class="form-control form-control-line" value="Neemkathana">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Post Code</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your post code" class="form-control form-control-line" value="332713">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">State</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your state" class="form-control form-control-line" value="Rajasthan">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-md-12">Country</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="Enter your country" class="form-control form-control-line" value="India">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">LinkedIn Profile Link</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Enter your LinkedIn profile link" class="form-control form-control-line">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Password</label>
                                <div class="col-md-12">
                                    <input type="password" value="password" class="form-control form-control-line">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>