<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Admin Management</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card text-white bg-dark">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Coordinator Management</h4></div>
            <div class="card-body">
                <h3 class="card-title">Manage Coordinators & Admin </h3>
                <p class="card-text">Add and Delete existing or new SPC or Admin on placement portal</p>
                <a href="#" class="btn btn-primary">Manage Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-primary">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Students Management</h4></div>
            <div class="card-body">
                <h3 class="card-title">Manage Registered students</h3>
                <p class="card-text">Manage student profile, remove red flags and update CGPA etc.</p>
                <a href="#" class="btn btn-dark">Manage Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Students Database Management</h4></div>
            <div class="card-body">
                <h3 class="card-title">Registered Students Database</h3>
                <p class="card-text">Get all students data branch & year wise with filter in excel format</p>
                <a href="#" class="btn btn-dark">Manage Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Notification Management</h4></div>
            <div class="card-body">
                <h3 class="card-title">Notify Students for Updates</h3>
                <p class="card-text">Directly send notifications or updates (email) to students via portal </p>
                <a href="#" class="btn btn-dark">Notify Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-warning">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Company Management</h4></div>
            <div class="card-body">
                <h3 class="card-title">Get Companies Visited Data</h3>
                <p class="card-text">Get the list of companies visited for recruitment </p>
                <a href="#" class="btn btn-dark">View Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-success">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Placement Stats </h4></div>
            <div class="card-body">
                <h3 class="card-title">Placed Students Database </h3>
                <p class="card-text"> Get placed students database as per program, degree, branch</p>
                <a href="#" class="btn btn-dark">Get Stats Now</a>
            </div>
        </div>
    </div>
</div>
