<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Contact Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card"> <img class="card-img" src="https://res.cloudinary.com/placements-mnit/image/upload/v1593674221/contact/prabha-bhawan_hm2ebu.jpg" height="456" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <img src="https://res.cloudinary.com/placements-mnit/image/upload/v1593674231/contact/logo_j1lthq.png" class="img-circle" width="100">
                    <br>
                    <br>
                    <h4 class="card-title">Placement & Training Cell</h4>
                    <h6 class="card-subtitle">Malaviya National Institute of Technology Jaipur
                    <br>JLN Marg, Jaipur- 302017
                    <br>Rajasthan, India</h6>
                    <!-- <p class="text-white"> Welcome to Placement and Training cell of MNIT Jaipur.  </p>-->
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>+91-141-2529065</h6>
                    <small class="text-muted p-t-30 db">Placements Relate Queries</small>
                    <h6>ptcell@mnit.ac.in</h6>
                    <small class="text-muted p-t-30 db">Placements Portal Relate Queries</small>
                    <h6>placementportal@mnit.ac.in</h6>
                </div>
            </div>
        </div>
    </div>
</div>
