<div class="row page-titles">
    <!-- Heading -->
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Edit Placements</h4>
    </div>

    <!-- All Placements Button -->
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <a href="/placement-management" type="button" class="btn btn-primary d-none d-lg-block m-l-15"><i class="ti-calendar"></i> &nbsp;Placement Management</a>
        </div>
    </div>
</div>

<!--Placement Added Div-->
<div class="row" ng-show="editPlacement.successMsg">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="text-md-center">
                    <i class="icon-check large-success-icon"></i>
                    <h3 class="success-text">Placements Successfully updated.</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Placement Details -->
<form ng-submit="editPlacement.editPlacementDetails();" ng-show="!editPlacement.successMsg">

    <div class="row">

        <!--Company Details Form-->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit {{ editPlacement.placements.students[0].student_name.split(" ")[0] }}'s Placement Details</h4>
                    <h6 class="card-subtitle">Enter placement details for placement session</h6>

                    <div class="row p-t-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Company Name</label>
                                <input type="text" class="form-control" placeholder="Enter name" ng-model="editPlacement.placements.company_name" required>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passout Batch</label>
                                <select class="form-control" ng-model="editPlacement.placements.passout_batch" required>
                                    <option value="">-- Select Passout Batch --</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Job Profile</label>
                                <input type="text" class="form-control" placeholder="Enter Job Profile" ng-model="editPlacement.placements.job_profile" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Recruitment Date(when company announced the result)</label>
                                <input type="date" class="form-control" ng-model="editPlacement.placements.recruitment_date" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Recruitment</label>
                                <select class="form-control" ng-model="editPlacement.placements.recruitment" required>
                                    <option value="">-- Select Recruitment --</option>
                                    <option value="Internship">Internship</option>
                                    <option value="Placement">Placement</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Recruitment Type</label>
                                <select class="form-control" ng-model="editPlacement.placements.recruitment_type" required>
                                    <option value="">-- Select Recruitment Type --</option>
                                    <option value="PPO">Pre Placement Offer</option>
                                    <option value="On-Campus">On-Campus</option>
                                    <option value="Off-Campus">Off-Campus</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- For Internship -->
                    <div class="row" ng-if="editPlacement.placements.recruitment === 'Internship'">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Internship Duration</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Enter internship duration" ng-model="editPlacement.placements.intern_duration" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Months</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Internship Stipend</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Enter internship stipend" ng-model="editPlacement.placements.intern_stipend" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Per Month</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <!-- For Full Time - Placement -->
                    <div class="row" ng-if="editPlacement.placements.recruitment === 'Placement'">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Duration</label>
                                <input type="text" class="form-control" value="Full Time Job - Placement" disabled>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Package</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Enter package" ng-model="editPlacement.placements.package" step="any" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Lakhs Per Annum</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="form-group">
                        <label class="control-label">Any Comments</label>
                        <textarea type="text" class="form-control" rows="3" ng-model="editPlacement.placements.comments" placeholder="Any comments..."></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Error Message -->
    <div class="alert alert-danger alert-rounded text-center" ng-show="editPlacement.errorMsg">
        <strong> Oops!</strong> {{ editPlacement.errorMsg }}
    </div>

    <!--Error Message -->
    <div class="alert alert-primary alert-rounded text-center" ng-show="editPlacement.loading">
        <strong> Hold on!</strong> Please wait, while we add your data...
    </div>

    <!--Submit Buttom-->
    <div style="text-align: center">
        <button type="submit" class="btn btn-primary btn-rounded"><i class="ti-check-box"></i> &nbsp; Submit Details</button>
    </div>
</form>
